.profile {
  display: flex;
  justify-content: center;
}

.inner {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.input {
  background-color: #dfb5ff;
  border-radius: 10px;
  font-weight: 200;
  font-size: 40px;
  padding: 16px 16px;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 400;
}

.input::placeholder {
  font-weight: 200;
}

.button {
  color: #ffffff;
  background-color: #9e24e9;
  border-radius: 20px;
  font-size: 40px;
  font-weight: 800;
  outline: none;
  border: none;
  padding: 24px 48px;
  width: fit-content;
  cursor: pointer;
  margin-top: 32px;
}

.errorMessage {
  padding: 0;
  padding-top: 24px;
  color: red;
  margin: 0;
  font-size: 24px;
  text-align: center;
}